/node_modules
/public/storage
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/vendor
bootstrap/cache/*.php
storage/app/public/
storage/app/framework/cache/
storage/app/framework/sessions/
storage/app/framework/testing/
storage/app/framework/views/
public/hot
public_html/storage
public_html/hot
Homestead.yaml
Homestead.json
/.vagrant